<section class="page-title">
    <div class="container">
        <div class="inner align-center">
            <h1 class="title">İletişim</h1>
            <div class="desc">Bizimle İletişime Geçin.</div>
        </div>
    </div>
</section><!-- PAGE TITLE -->