<section class="section spdt">
    <div class="container">
        <div class="card registerCard p-4">
            <div class="card-title text-center">
                <h3>
                    Kullanıcı Oluştur
                </h3>
            </div>
            <div class="card-body">
                <form action="/user/register" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col mb-4">
                                <input type="text" class="form-control" placeholder="Adı" name="name" autocomplete="off">
                            </div>
                            <div class="col mb-4">
                                <input type="text" class="form-control" placeholder="Soyadı" name="surname" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-4">
                                <input type="text" class="form-control" placeholder="Emai Adresi" name="email" autocomplete="off">
                            </div>
                            <div class="col mb-4">
                                <input type="text" class="form-control" placeholder="Telefon Numarası" name="phone" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-4">
                                <input type="password" class="form-control" placeholder="Şifre" name="password" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary">Kullanıcı Oluştur</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>